__pycache__/
*.pyc
*.cpython-35.pyc
*.cpython-36.pyc
audio/output.wav
static_cdn/
.vscode/settings.json
api/capstoneModules/audio
api/capstoneModules/clips
api/capstoneModules/ds_recordings
api/capstoneModules/live
api/capstoneModules/recordings
api/capstoneModules/spectrograms
api/capstoneModules/stores_records
api/capstoneModules/test_set
api/capstoneModules/training_set
api/capstoneModules/wav_recordings
api/capstoneModules/ConvNets
env/Lib/encodings/__pycache__
audio/output_mono.flac
audio/output_mono.wav
client_secrets.json
api/capstoneModules/16k_clips/
