<!DOCTYPE html>

<head>
    <html lang="en">
    <title>Speech Buddy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- GOOGLE SIGN IN CLIENT ID-->
    <meta name="google-signin-client_id" content="973160032383-s3mnujl40ppck27m530psi208bv7nso5.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- GOOGLE SIGN IN CLIENT ID-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/csrf.js"></script>
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"></script>
</head>

<body>
    <nav id="myNavbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="homeBtn" class="navbar-brand" href="#main">Speech Buddy</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="navCollapsed" class="nav navbar-nav navbar-right">
                    <li id="abtBtn" class="nav-item">
                        <a href="/" style="width: 80px">Home</a>
                    </li>
                    <li id="portBtn" class="nav-item active">
                        <a href="/recorder" style="width: 80px">Record</a>
                    </li>
                    <li id="sign-in">
                        <div id="ggl-wrapper" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="margin:8px"></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="split left" id="left-split">
        <video autoplay="true" id="videoElement"></video>
        <div id="recordingslist"></div>
        <div id="recordingDiv">
            <button id="start-btn" class="btn btn-primary btn-lg">Record</button>
            <button id="stop-btn" class="btn btn-danger btn-lg" disabled> Stop </button>
            <button id="submit-btn" class="btn btn-success btn-lg" onclick="loadingTranscript()">Submit</button>
            <h4 id="recordingtitle" style="display:none;">Recordings: </h4>
        </div>
    </div>

    <div class="split right" id="right-split">
        <div class="info" id="text-wrapper">
            <div id="name"></div>
            <h1 id="title">Welcome to SpeechBuddy.</h1>
            <h2 id="header-text">Click
                <span style="color:cornflowerblue">
                    <b>Record</b>
                </span> to begin recording a speech.</h2>
            <div id="string">
                <h2></h2>
                <h2></h2>
                <div id="transcript-area">
                    <h4 id="transcript-display">SpeechBuddy uses Machine Learning and Cloud APIs to analyze your speech and facial expressions. We then
                        calculate multiple factors like volume, tone, speed and pronounciation, and display the results to
                        you in an easily understood fashion. Goodluck!
                    </h4>


                </div>

                <h3 id="confidence" style="display:none;align-content:right;"></h3>
            </div>
        </div>

        <div id="data-div" hidden="true">
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2 id="mhead">Modal Header</h2>
                    </div>
                    <div class="modal-body" id="mbody"></div>
                    <div class="modal-footer">
                        <h3>nltk lib</h3>
                    </div>
                </div>
            </div>
            <div id="fundementals">
                <h2></h2>
                <div id="chart_div" /div>
                </div>
                <div id="volume">
                    <h2></h2>
                    <div id="chart_div_volume" /div>
                    </div>

                    <div id="filler count">
                        <div id="count">

                        </div>
                    </div>
                </div>
            </div>



        </div>



        <script src="../static/js/recorderWeb.js"></script>
        <script src="../static/js/googleResponse.js"></script>
        <script src="../static/js/createCorpus.js"></script>
        <script src="../static/js/createSyns.js"></script>
        <script src="../static/js/pitchResponse.js"></script>
        <script src="../static/js/volumeResponse.js"></script>
        <script src="../static/js/fillerCountResponse.js"></script>
        <script src="../static/js/googleOAuth.js"></script>
        <script src="../static/js/recorder.js"></script>
        <script>
            var video = document.querySelector("#videoElement");

            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

            if (navigator.getUserMedia) {
                navigator.getUserMedia({ video: true }, handleVideo, videoError);
            }

            function handleVideo(stream) {
                video.src = window.URL.createObjectURL(stream);
            }

            function videoError(e) {
                // do something
            }
        </script>
</body>

</html>