@media screen and (max-width: inherit) { 
    .body { 
      padding-top: 35px; 
    }
}

.body { 
  padding-top: 55px; 
}

#myNavbar{ /* Style navbar */
  background: rgba(30,30,30,1);
/*   border-bottom: 0; */
}
#navbar { /* Format collapsed alignment */
  float: none; text-align: center;
}

#navbar ul { /* Remove bullet points */
  list-style: none; 
  margin: 0;
}

#navbar ul li { /* Place list anchors side-by-side*/
  display: inline-block;
}

#navbar ul li a{ /* Adjust default style of anchors */
/*   border-radius: 10px; */
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0);
  transition: all 300ms ease 0ms;
}

#navbar ul li:active a{ /* Adjusting click and hover characteristics */
  color: rgba(255,255,255,1); /* Text colour */
}

#navbar ul li:hover a{
  color: rgba(255,255,255,1);
/*   background-color: rgba(0,0,0,1); */
/*   box-shadow: 0px 0px 15px rgba(255, 255, 255, .4); */
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
/*   box-shadow: 0 0px 15px rgba(255, 255, 255, .4); */
}
  
#navbar .navbar-nav li.active > a{ /* Adjust active state */
  transition: all 0.3s ease 0s;
  width: 80px;
  color: rgba(255,255,255,1);
  box-shadow: inset 0px -18px 15px -15px rgba(255, 255, 255, .4);
}

#homeBtn {
  color: rgba(255,255,255,1);
}

/* RECORD PAGE */

.recordPage {
	padding-top: 10px;
    text-align: center;
    width: 50%;
    float: right;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: #111;
  padding-top: 45px;

  
}

.right {
  /* padding-top: 45px; */
  right: 0;
  background-color: white;
  position: absolute;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; 
}

#data-view{
  border:2px;
  border-style:solid;
  border-color:black;
}

#data-wrapper{
  width: 100%;
}

#slide {
    position: absolute;
    left: -100%;
    width: 100%;
    background: blue;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
}

#transcript-display{
  line-height: 2.4;
  font-size: 20px;
}

.info {
  position: relative;
  
  top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.btn{
  margin: 5%;
}


#string {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.centered {
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#recordingDiv {
   text-align: center;
}

.record-controls{
  width: 100%;
}

#welcome {
  padding-top: 10px;
    text-align: center;
    width: 100%;
    float: right;
}

/* resizable webcam */
#videoElement {
  text-align: center;
  width: 100%;  
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
}

#recordingDiv {
  width: 100%;
}

.loader {
  position: absolute;
  top: 35%;
  left: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Fundemental Stuff Here*/
#chart_div {
	text-align: center;
}

/* Volume stuff */
#chart_div_volume {
	text-align: center;
}
/*  color styles for quick data cards */
.very-low {
  color: #AED6F1;
}

.low{
  color: #2471A3;
}

.med{
  color: #27AE60;
}

.high{
  color: #E67E22;
}

.very-high{
  color: #E67E22;
}