/* FOR WPM DYNAMIC SENTENCE STYLING*/
.too_slow {
    background-color: rgba(11, 26, 241, 0.45);
    /* float: left; */
    font-weight: normal;
    display: inline;
    line-height: 2.4;
    font-size: 20px;
  }
  
  .slow{
    background-color: rgba(11, 176, 241, 0.45);
    /* float: left; */
    font-weight: normal;
    display: inline;
    line-height: 2.4;
    font-size: 20px;
  }
  
  .good{
    background-color: rgba(49, 241, 11, 0.45);
    /* float: left; */
    font-weight: normal;
    display: inline;
    line-height: 2.4;
    font-size: 20px;
  }
  
  .fast{
    background-color: rgba(255, 174, 0, 0.45);
    /* float: left; */
    font-weight: normal;
    display: inline;
    line-height: 2.4;
    font-size: 20px;
  }
  
  .too_fast{
    background-color: rgba(241, 38, 11, 0.45);
    /* float: left; */
    font-weight: normal;
    display: inline;
    line-height: 2.4;
    font-size: 20px;
  }