
.too_slow {
    background-color: #AED6F1;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.slow{
    background-color: #2471A3;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

good{
    background-color: #27AE60;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fast{
    background-color: #E67E22;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.too_fast{
    background-color: #F1190B;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
